@use 'variables' as v;
@use 'sass:color';

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
